@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



@font-face {
  font-family: 'Biro';
  src: url('/BiroScriptUSPlus-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Courier Prime';
  src: url('/courier-prime.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('/courier-prime.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('/courier-prime.bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Imager';
  src: url('/Imager.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Imager Stylist';
  src: url('/Imager-Stylist.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: "Courier Prime", serif;
  font-weight: 400;
}

h3, span {
  font-family: "Courier Prime", serif;
  font-weight: 400;
}


p, a {
  font-family: "Courier Prime", serif;
  font-weight: 400;
}

.biro {
  font-family: 'Biro';
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}