@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Dearshy Haislein';
  src: url('/dearshy-haislein.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Imager';
  src: url('/Imager.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Imager Stylist';
  src: url('/Imager-Stylist.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: 'Imager Stylist', sans-serif;
}

h3, span {
  font-family: 'Imager Stylist', sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}